* {
    box-sizing: border-box;
}
body {
    font-family: "Lato", sans-serif;
    color: #03295a;
}
h1 {
    text-align: center;
    font-family: "Amatic SC", sans-serif;
    font-size: 4rem;
    margin-bottom: 0;
}
div#titleDetails {
    margin-bottom: 2rem;
}
h2 {
    text-align: center;
    font-family: "Amatic SC", sans-serif;
    font-size: 2rem;

}
div#titleDetails{
    text-align: center;
    
    font-size: larger;
    font-weight: bold;
}
div.sectionContainer {
    display: flex;
}
div.sectionImage {
    flex: 1

}
div.sectionImage > img {
    max-width: 100%;
    padding: 20px;
}
div.sectionContent {
    flex: 1;
    padding: 20px;
}
div.Sala02 {
    display: flex;
}
div.obrazek1 {
    flex: 1;
}
div.obrazek1 > img {
    max-width: 100%;
    padding: 20px;
}
div.SalaPowitalna {
    flex: 1;
}
h3 {
    text-align: center;
}
div.Sala103 {
    display: flex;
}
div.obrazek2 {
    flex: 1;
}
div.obrazek2 > img {
    max-width: 100%;
    padding: 20px;
}
div.ZespolMuzyczny {
    flex: 1;
}
div.Sala106 {
    display: flex;
}
div.WarsztatReklamowy {
    flex: 1;
}
div.obrazek3 {
    flex: 1;
}
div.obrazek3 > img {
    max-width: 100%;
    padding: 20px;
}
div.Sala02 {
    display: flex;
}
div.obrazek1 {
    flex: 1;
}
div.obrazek1 > img {
    max-width: 100%;
    padding: 20px;
}
div.SalaPowitalna {
    flex: 1;
}